<h1>Tags</h1> 


   
<% @tags.each do |tag| %>       
  <h3><%= link_to(tag.name, tag_path(tag)) %>
  </h3>  

  <p><%= link_to 'Edit Tag', edit_tag_path(tag)%>
          </p>         
  <p><%= link_to 'Delete', tag_path(tag), method: :delete, data: { confirm: 'Are you sure you want to delete this tag?' } %>
          </p>  

  <br> 

<% end %>   

<%= link_to "Create New Tag", new_tag_path %>
<br>
<%= link_to "Back to all Articles", articles_path %>

